n8n-workflow.json
{
  "name": "TripSkip Publisher - Auto Post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 3 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PUBLISHER_URL }}/publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"dryRun\": false }",
        "options": {
          "timeout": 300000
        }
      },
      "id": "publish-request",
      "name": "Trigger Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Publisher Webhook Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failures",
              "leftValue": "={{ $json.failed }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-failures",
      "name": "Any Failures?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "REPLACE_WITH_YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚨 TripSkip Publisher Alert\n\nPublished: {{ $json.published }}\nSkipped: {{ $json.skipped }}\nFailed: {{ $json.failed }}\n\nCheck logs for details.",
        "additionalFields": {}
      },
      "id": "telegram-alert",
      "name": "Alert on Failures",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 200],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "summary",
              "value": "=Published: {{ $json.published }} | Skipped: {{ $json.skipped }} | Failed: {{ $json.failed }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-success",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Every 3 Hours": {
      "main": [
        [{ "node": "Trigger Publish", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Publish": {
      "main": [
        [{ "node": "Any Failures?", "type": "main", "index": 0 }]
      ]
    },
    "Any Failures?": {
      "main": [
        [{ "node": "Alert on Failures", "type": "main", "index": 0 }],
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
